.browse_nav_bar_container {
    height: 70px;
    z-index: 0;
    // overflow: hidden;
}

.browse_pinning_nav_bar {
    top: 0px;
    position: relative;
    background: transparent;
    transition: background-color .25s;
    display: flex;
    flex-direction: row;
}

.browse_nav_bar_container .browse_pinning_nav_bar {
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
}

.browse_pinning_nav_bar .main_browse_nav_bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4%;
    z-index: 2;
    font-size: 1.2rem;
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    -moz-transition: background-color .4s;
    transition: background-color .4s;
    width: 100%;
    justify-content: space-between;
}

.browse_nav_bar_container .browse_pinning_nav_bar .main_browse_nav_bar {
    z-index: 2;
    height: 55px;
}

.browse_splash_logo {
    width: 100px;
    font-size: 42px;
    color: #e50914;
    font-weight: 500;
    vertical-align: middle;
}

.browse_body {
  background-color: black;
}

html:not([data-scroll='0']) {
	
	.browse_body {
	  padding-top: 3em;
	}
	
	.browse_pinning_nav_bar {
		position: fixed;
		top: 0;
		background-color: black;
		box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }

}

.browse_logout {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.browse_nav_bar_profile_pic {
    height: 32px;
    width: 32px;
}

.browse_dropbtn {
  border: none;
}

.browse_dropdown {
  position: relative;
  display: inline-block;
}

.browse_dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
  right: 0;
  min-height: 100px;
}

.browse_dropdown-content button {
  color: white;
  padding: 12px 16px;
  display: block;
  font-size: .85rem;
  width: fit-content;
  font-weight: 550;
  bottom: 0;
  margin-top: 50px;
}

.browse_dropdown-content button:hover {
  text-decoration: underline;
}


.browse_dropdown:hover .browse_dropdown-content {
    display: block;
}

.browse_fp_video_container{
  width: 100%;
  height: 600px;
  display: flex;
  margin-bottom: 20px;
}

.browse_row_container {
  margin: 3vw 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow-x: auto;
}

.browse_row_container h2 {
  line-height: 1.3;
  margin: 0;
}

.browse_row_title {
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 0 4% .5em 4%;
  text-decoration: none;
  display: inline-block;
  min-width: 6em;
}

.browse_row_title div {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
}

.browse_row_content {
  position: relative;
  z-index: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 200px;
}

.browse_row_slider {
  z-index: 2;
  position: relative;
  margin: 0;
  padding: 0 4%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  height: 100%;
}

.browse_row_slider_wrapper {
  overflow-x: visible;
  padding-bottom: 1px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.browse_row_item {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    display: inline-block;
    position: relative;
    white-space: normal;
    vertical-align: top;
    padding: 0 2px;
    min-width: 255px;
}

.browse_row_item_content {
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin: 0px 2px;
}
