.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #141414;
    z-index: 5;
}

.profile_modal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal_splash_logo_container {
    position: absolute;
    top: 10px;
    left: 4%;
    width: 100%;
}

.profile_modal_box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_modal_box .active {
    display: flex;
}

.create_profile_modal_box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create_profile_modal_box .active {
    display: flex;
}

.profile_modal_title {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 3.5vw;
    font-weight: 600;
}

.profile_modal_thumbnails_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vw 0;
}

.profile_modal_thumbnail_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1vw;
    font-size: 6vw;
}

.profile_modal_thumbnail {
    width: 9vw;
    height: 9vw;
    border: 3px solid rgba(32, 32, 32, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
.profile_modal_thumbnail:hover {
    cursor: pointer;
    border: 3px solid white;
    background-color: white;
}

.profile_modal_name {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 600;
    margin: 1vw;
}