.navbar {
    height: 40px;
    width: 100%;
    padding-top: 20px;
    margin: 0px 0px 20px 0px;
}

.authLink {
    margin-top: .5rem;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}

